#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(7, 232, 198);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

#developers {
    width: max-content;
    height: 10px;
    border: 1px solid rgb(156, 237, 33);
    font-size: x-small;
    background-color: rgb(142, 17, 17);
}